body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
*{
  box-sizing: border-box;
}
.main::after{
  content:"";
  clear: both;
  display: inline-block;
}
[class*="col-"]{
  float: left;
  margin: 8px;
  padding: 15px;
  /*border: 1px dashed blue;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 8px 16px rgba(0,0,0,0.24);
}
/*for Phones*/
@media only screen and (max-width:800px) {
  [class*="col-"]{
    width: 100%;
<<<<<<< HEAD
=======
    float: left;
    margin: 4px;
    padding: 7.5px
>>>>>>> master
  }
}
/*for Desktop*/
@media only screen and (min-width:800px) {
  .col-1{width: 8.33%;}
  .col-2{width: 16.66%;}
  .col-3{width: 23.20%;}
  .col-4{width: 33.33%;}
  .col-5{width: 41.66%;}
  .col-6{width: 50%;}
  .col-7{width: 58.33%;}
  .col-8{width: 66.66%;}
  .col-9{width: 74.33%;}
  .col-10{width: 83.33%;}
  .col-11{width: 91.66%;}
  .col-12{width: 100%;}
}
li{
  /*list-style-type: none;*/
}

/*left column*/
.profile{
  padding: 0 !important;
  clear: both;
  display: inline-block;
}
img{
  background-size: cover;
}
h1{ color: black;}
.titles{
  color: #666666;
}
img{
  width: 100%;
  height: auto;
}
h2{
  text-align: center;
}
.email{
  font-style: italic;
  text-decoration: none;
}
.details{
  padding: 15px;
  float: left;
  margin: 0;
  width: 100%;
}
/*right top column*/
.experience{
float: right;
}
.teal, footer{
  color: #6600cc;
}
/*right bottom column*/
.education{
float: right;
}
/*footer*/
footer{
  text-align: center;
  font-size: 11px;
}

      /*Kudos breakage!!*/
